.Campaigns-wrapper {
    font-family: "Syne", sans-serif;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 10px 40px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

#heading {
    margin: 40px;
    font-size: 50px;
    font-weight: bold;
    color: #ee6e7e;
}