.Campaigns-wrapper {
    font-family: "Syne", sans-serif;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 10px 40px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}